*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#title{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    color: white;
    font-size: 30px;
    padding: 10px;
}
#btnLock{
    position: absolute;
    right: 0;
    top: 0;
}
#crosshair{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    left: 50vw;
    top: 50vh;
}